{% extends "main_base.html" %}
{% load i18n %}
{% block main_content %}
    <div class="container">
        <div class="col s6">
            <div class="card s12 m3 right">
                <div class="card-image">
                    <img src="static/images/ata_logo.png.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <form action="/login/" method="POST">
                        {% csrf_token %}
                        <div class="input-field col s3">
                            <i class="fa fa-user prefix"></i>
                            <input  id="username" name="username" type="text" class="validate">
                            <label for="username">Nome de Usuário</label>
                        </div>
                        <div class="input-field col s3">
                            <i class="fa2 fa-key prefix"></i>
                            <input id="password" type="password" class="validate">
                            <label for="password">Senha</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Entrar
                            <i class="material-icons right"></i>
                        </button>
                    </form>
                </div>
                <div class="card-action">
                    <a href="/create/">Novo? Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}